/* body {
    margin: 0 !important;
}
 */

.ciao {
    background-color: #0192ff;
    /* border-radius: 20px; */
}

.titolo {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.bg {
    background-color: red;
}

.menu {
    padding-top: 5px;
}

.home {
    display: flex;
    margin: 5%;
    padding: 5% 10%;
    border-radius: 25px;
    background-color: #0192ff;
    color: white;
    max-width: 80%;
}

.choice {
    display: flex;
    align-items: center;
    margin: 5%;
    padding: 1% 10%;
    padding-bottom: 5%;
    border-radius: 25px;
    background-color: #0192ff;
    color: white;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 25px;
    background-color: #0192ff;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    background-color: #003e6d;
}

.glossary {
    background-color: #003e6d;
    border-radius: 20px;
    padding: 5%;
}

.graph{
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
}

.containerDiv{
    display: flex;
    justify-content: center;
}

.accordionContainer{
    /* display: flex; */
    /* justify-content: center; */
    padding: 10px;
    width: 90%;
}