.bg_header {
    background-color: #0192ff;
    width: 100%;
}

.titolo {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.menu {
    padding-top: 5px;
}

.footer_content {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.bg_footer {
    background-color: rgb(83, 83, 83);
    height: 100px;
    width: 100%;
}

.home {
    display: flex;
    margin: 5%;
    padding: 5% 10%;
    border-radius: 25px;
    background-color: #0192ff;
    color: white;
    max-width: 80%;
}

.choice {
    display: flex;
    align-items: center;
    margin: 5%;
    padding: 1% 10%;
    padding-bottom: 5%;
    border-radius: 25px;
    background-color: #0192ff;
    color: white;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 25px;
    background-color: #0192ff;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    background-color: #003e6d;
}

.glossary {
    background-color: #003e6d;
    border-radius: 20px;
    padding: 5%;
}

.graph{
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
}

.containerDiv{
    display: flex;
    justify-content: center;
}

.accordionContainer{
    padding: 10px;
    width: 90%;
}

.pie {
    overflow-y: hidden;
    overflow-x: auto;
}

.dropdown {
    padding: 10px;
}

.labels-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.label {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 20%;
}

.label.blue {
    background: #0088FE;
}
.label.green {
    background: #00C49F;
}
.label.yellow {
    background: #FFBB28;
}
.label.orange {
    background: #FF8042;
}

@media (max-width: 600px) {
    .chart-container {
    width: 100%;
    }

    .labels-container {
    flex-direction: column;
    align-items: center;
    }
    .label {
        font-size: 10px;
    }
}

.dropdown-menu {
    margin-top: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
  }